@use '../util' as *;

h1, h2, h3, p {
	margin: 0;
}

a {
	position: relative;
	color: var(--white);
	text-decoration: none;

	&:not(.title, .portfolio__link) {
		text-shadow: 0 0 rem(10) var(--aqua);
		transition: var(--transition-min);
		color: var(--aqua);

		&:hover {
			text-shadow: 0 0 rem(10) var(--pink);
			color: var(--pink);
		}
	}
}

svg {
	filter: drop-shadow(0 0 rem(10) var(--aqua));
	fill: var(--aqua);

	&:hover {
		filter: drop-shadow(0 0 rem(10) var(--pink));
		fill: var(--pink);
	}
}

.links {
	&--vertical {
		display: inline-flex;
		flex-direction: column;

		svg {
			width: 0;
			height: 0;
		}

		@include breakpoint-down(large) {
			transform: scale(.75);
			flex-direction: row;

			a {
				margin: 0 rem(20);

				span {
					display: none;
				}

				svg {
					width: rem(50);
					height: rem(50);
				}
			}
		}
	}

	a {
		font-size: rem(25);

		&:not(.links--vertical) {
			text-shadow: 0 0 rem(10) var(--pink);
			color: var(--pink);

			&:hover {
				text-shadow: 0 0 rem(10) var(--aqua);
				color: var(--aqua);
			}
		}

		&:first-child {
			padding-right: rem(10);
		}

		&:last-child {
			padding-left: rem(10);
		}
	}
}
